:root {
  --primary-text-color: rgba(153, 153, 153, 1);
  --secondary-text-color: rgba(50, 50, 50, 1);
  --title-text-color: rgba(255, 255, 255, 1);
  --accent: rgba(73, 133, 255, 1);
  --decoration-color: rgba(0, 0, 0, 1);
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

h1, h2, h3, p{
  margin: 0;
}

a {
  text-decoration: none;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container{
  width: 1143px;
  padding-left: 15px;
  padding-right: 15px;
  outline: solid red;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: var(--accent);
  color: var(--title-text-color);
  padding: 13px 36px 15px;

  font-size: 16px;
  line-height: calc(20 / 16);
  text-align: center;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);

  border: none;
  border-radius: 30px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(25 / 16);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(53 / 36);
}

/* Header section */
.header {
  background-color: #212121;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);  
}

/* .header .container{
  padding-top: 40px;
  padding-bottom: 40px;
}
 */

.header-list {
   display: flex;
   justify-content: flex-end;
}


.header-link {
  color: var(--title-text-color);

  font-size: 16px;
  line-height: calc(20 / 16);
}

.header-list > li{
  margin-left: 40px;
}

.header-list li:first-child{
  margin-left: 0;
}

.header-link {
  text-decoration: none;
}

/* Section Hero */
.hero {
  background-color: #212121;
  padding-top: 220px;
  padding-bottom: 335px;
  text-align: center;
}

.hero-text {
  margin-bottom: 20px;
  color: var(--title-text-color);

  font-size: 16px;
  line-height: calc(20 / 16);
}

.hero-title {
  max-width: 829px;
  color: var(--title-text-color);
  margin: 0 auto 50px;
  font-weight: 800;
  font-size: 48px;
  line-height: calc(68 / 48);
  text-align: center;
}

/* .hero-btn {
  background-color: var(--accent);
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border: none;
  border-radius: 30px;
} */

/* Services */

.services {
}

.services-title {
  color: var(--title-text-color);
  text-align: center;
}
/* .services-list {
 
}
.services-item {
} */
.services-name {
  color: var(--primary-text-color);
  font-weight: 600;
  font-size: 18px;
  line-height: calc(22 / 18);
}
.services-text {
  text-align: center;
}

/* Standarts */

/* .standarts {
    background-color: #212121;
} */
.standarts-title {
  color: var(--title-text-color);
}

.standarts-text {
  color: var(--secondary-text-color);
}

.standarts-link {
  color: var(--accent);

  font-size: 16px;
  line-height: var(20 / 16);

  text-decoration-line: underline;
}

/* .standarts-list {
}
.standarts-item {
} */

.tandarts-statistic {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 36px;
  line-height: calc(53 / 36);
}

.standarts-name {
  color: var(--secondary-text-color);
}

/* Section WORKS */

.works {

}

.works-title {
  color: var(--title-text-color);
}



.works-list {

}

.works-item {

}

.works-foto {

}

.works-name {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: var(--decoration-color);
 
}

.works-number {
  color: var(--accent);
}

.works-text {
  color: var(--primary-text-color);
}










