.hero {
  background-color: #212121;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(../img/hero.jpg);
  padding-top: 220px;
  padding-bottom: 335px;
  text-align: center;
  max-width: 1920px;
  background-size: cover;
  margin: 0 auto;
}

.hero__text {
  margin-bottom: 20px;
  color: $title-text-color;

  font-size: 16px;
  line-height: calc(20 / 16);
}

.hero__title {
  max-width: 300px;
  color: $title-text-color;
  margin: 0 auto 50px;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.42;
  text-align: center;

  @media screen and (min-width: $mobile) {
    max-width: 480px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 42px;
    max-width: 750px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 48px;
    max-width: 829px;
  }
}

// .hero__btn {
//   @extend .button;
//   border: 1px solid red;
// }

.hero__btn {
  @extend %button;
}

.hero__btn:hover {
  @extend %buttonhover;
}

.hero__btn:focus {
  @extend %buttonfocus;
}

