.projects {
    padding-top: 100px;
    padding-bottom: 130px;
    background-color: rgba(246, 246, 248, 1);
  }
  
  .projects__title {
    @include section-title($title-color: $decoration-color);
  }
  
  .projects__text {
    text-align: center;
    color: $primary-text-color;
    margin-bottom: 70px;
  }
  
  .projects__list {
    margin-bottom: 63px;
    @include grid();
  }
  
  .projects__item {
    @include grid-item($items: 4);
  }
  
  .projects__button {
    @extend %button;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .projects__button:hover {
    @extend %buttonhover;
  }
  
  .projects__button:focus {
    @extend %buttonfocus;
  }